@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,900&display=swap');
@font-face {
  font-family: 'Nunito';
  src: local('Nunitio'), url(../public/Nunito_Sans/NunitoSans-ExtraBold.ttf) format('truetype');
}
:root {
  --color-gold: #bc9531;
}

body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #000;
  --color-bg-primary: #EAE9E9;
  --color-bg-toggle: #1E90FF; 
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #EAE9E9;
  --color-bg-primary: #333;
  --color-bg-toggle: #a9a9a9; 
}

/* h1 { */
/*   color: var(--color-text-secondary); */
/* } */


body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  font-family: "Lorea";
}

/* Layout stuff */
main{
  display: grid;
  margin-bottom: 20px;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 40em) [main-end] minmax(1em, 1fr)
    [full-end];
}

main> * {
  grid-column: main;
}
.mainGrid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 40em) [main-end] minmax(1em, 1fr)
    [full-end];
}

.mainGrid > * {
  grid-column: main;
}

.splash {
  grid-column: full;
  background: #000;
  color: #fff;
  z-index: 1000;
}

.carouselText {
  float: left;
  width: 300px;
}
.carouselSm {
  float: left;
  margin-left: 14px;
  width: 300px;
}

hr {
  clear: both;
  border: 1px dashed var(--color-gold);
  display: block;
}
/* End layout */

header::before, header::after {
  display: block;
  font-size: 11px;
  text-align: left;
  content: 'Stuff';
  color: var(--color-gold);
  font-family: 'Lorea';
  font-style: italic;
  letter-spacing: 1px;
  padding: 20px 0 0 28px;
}
header::after {
  padding: 0 0 18px 0;
  margin-left: 2%;
  width: 96%;
  text-align: right;
  content: 'wrote';
  border-bottom: 2px dotted var(--color-gold);
}
header {
  grid-column: main;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--color-text-secondary);
  line-height: 1;
  font-size: 94px;
  transition-property: font-size;
  transition-duration: .4s;
  letter-spacing: 0em;
  border-bottom: 1px solid #96741D;
}

.about::before {
  content: 'More about';
}
.about::after {
  content: 'than you probably wanted to know';
}
.portfolio::after {
  content: 'did';
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  font-weight: normal;
  letter-spacing: 1.4px;
  color: var(--color-gold);
}

h2 {
  position: sticky;
  top: 0;
  padding: 18px 0;
  font-size: 32px;
  letter-spacing: -1px;
  text-align: center;
  background: var(--color-bg-primary);
  color: #96741D;
  z-index: 1000;
}
h2::before {
  content: "~ "
}
h2::after {
  content: " ~"
}

figure {
  float: left;
  padding: 8px;
  border: 1px solid var(--color-gold);
  margin: 12px 1em 0 0;
  text-align: right;
}
.figless {
  border: 0;
  float: right;
  text-align: left;
  margin: 0 -22px 0 10px;
}
.mdFigure {
  float: none;
  display: block;
  border: 0;
  width: 100%;
}

figcaption {
  line-height: 1;
  font-size: 10px;
  color: var(--color-gold);
  font-style: italic;
}
.mdFigure figcaption {
  margin: 14px 0;
}

.smImg {
  width: 280px;
  float: left;
  margin: 20px;
}

nav {
  padding: 8px;
  color: #96741D;
  text-align: right;
  border-bottom: 1px dotted var(--color-gold);
  margin-bottom: 12px;
}
nav a {
  padding: 4px 8px;
  margin: 4px;
  color: #96741D;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  background: #e3dac3;
  border-radius: 3px;
  transition: background 0.5s ease;
}

nav a:hover, .active {
  color: #f7f6f4;
  background: #8e7777;
}

.homeLink {
  position: sticky;
  top: 10px;
  color: #fff;
  background: #e3dac3;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 42px;
  margin-left: 20%;
  padding: 1px 16px 0px 14px;
  border-radius: 50%;
  z-index: 1001;
  transition: background 0.5s ease;
}
.homeLink:hover {
  background: #8e7777;
}

footer::before {
  display: block;
  margin-left: 2%;
  width: 96%;
  content: ' ';
  border-top: 2px dotted var(--color-gold);
}
footer {
  border-top: 1px solid #96741D;
  font-size: 11px;
  letter-spacing: 1.2px;
  text-align: center;
  margin-bottom: 80px;
}
footer p {
  font-size: 11px;
  font-family: sans-serif;
  color: #999;
  line-height: 1.4;
}
footer b {
  display: block;
  font-size: 28px;
  margin: 8px 0;
}
footer > * {
  padding-top: 10px;
  color: #999;
}
footer span {
  display: flex;
  justify-content: center;
  margin: 18px 0;
}
footer span a svg {
  height: 28px;
  width: 28px;
  margin: 0 6px;
  fill: #000;
}
footer span a:hover svg {
  fill: #96741D;
}
ul {
  margin: 6px;
  padding: 0;
    }
li {
  list-style: none;
}

.listLinks li a {
  color: #96741D;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  padding: 18px 0; 
}

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: var(--color-text-primary);
  letter-spacing: 0.8px;
  margin: 0;
}

.intro::first-letter {
  font-size: 24px;
  line-height: 1;
  color: #96741D;
}

section {
  margin: 0 1.8em;
}
section:first-of-type {
  margin-top: 28px;
}
section:last-of-type {
  margin-bottom: 28px;
}

time {
  float: none; 
  display: block;
  font-size: 11px;
  color: #999;
  margin-right: 12px;
  margin-top: -36px;
  text-align: center;
}
section time {
  float: right;
  display: block;
  margin-top: -34px;
}
time::before {
  display: block;
  color: #bc9531;
  font-size: 12px;
  content: '-.-.-.-.-.-.-.-.-';
}

section time::before {
  content: "";
}
time span {
  padding: 16px 0;
  width: 280px;
  color: #333;
  border-top: 1px solid #96741D;
}

a {
  text-decoration: none;
  color: #333;
  color: var(--color-text-secondary);
}
a:visited section {
  color: #999;
}
a:hover section, a section h3 {
  color: #333;
}
section h3 { 
  letter-spacing: 0;
  border-bottom: 1px dashed #999;
  transition: color 0.25s ease;
}
section h3:hover {
  color: var(--color-text-primary);
  border-bottom: 1px solid #96741D;
}

article p {
  margin: 32px 0;
}

article a {
  font-weight: 600;
  text-decoration: var(--color-gold) wavy underline;
}
article a:hover {
  text-decoration: #96741D dotted underline;
}

code {
  padding: 10px;
  border-radius: 4px;
  background-color: #333;
  color: #05d805;
}

blockquote {
  padding: 14px;
  color: #000;
  border-radius: 0 4px 4px 0;
  background: #faf9f0;
  border-left: 4px solid #E3DAC3;
}
blockquote p {
  margin: 0;
}

@media only screen and (max-width: 1100px) {
  .homeLink {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  header::before {
    padding-left: 8px;
  }
  header::before, header::after {
    font-size: 10px;
  }
  header {
    font-size: 12vw;
  }
  section {
    margin: 0 0.6em;
  }
  figure, .figless {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
  figure img {
    width: 100%;
  }
  figure figcaption {
    margin: -10px 0 6px 0;
    display: block;
  }
  .homeLink {
    top: 6px;
    margin-left: 10px;
  }
  .postHeader {
    font-size: 28px;
  }
}

/* .circle { */
/*   position: relative; */
/*   border-radius: 100%; */
/*   width: 2rem; */
/*   height: 2rem; */
/*   background: linear-gradient(40deg, #FF0080,#FF8C00 70%); */
/*   margin: auto; */
/* } */
/* .crescent { */
/*   position: absolute; */
/*   border-radius: 100%; */
/*   right: 0; */
/*   width: 2rem; */
/*   height: 2rem; */
/*   background: white; */
/*   transform: scale(0); */
/*   transform-origin: top right; */
/*   transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1); */
/* } */
